---
import Layout from '../layouts/Layout.astro';
import PocketBase from 'pocketbase';
import { PB_URL, PB_USER, PB_PASS } from 'astro:env/server';

const subscriber_id = Astro.url.searchParams.get('code');

let message = 'Are you sure you want to unsubscribe? 🥺';
if (Astro.request.method === 'POST') {
  const pb = new PocketBase(PB_URL);
  const user = await pb.collection('users').authWithPassword(PB_USER, PB_PASS);
  if (!pb.authStore.isValid) {
    return new Response('Unauthorized backend credentials', { status: 500 });
  }
  if (!subscriber_id) {
    return new Response('Bad Request: No subscriber ID provided', {
      status: 400,
    });
  }

  const subscriber = await pb.collection('subscribers').getOne(subscriber_id);
  if (!subscriber) {
    message = 'No subscriber found with that email address.';
  } else {
    await pb.collection('subscribers').delete(subscriber.id);
    message = 'You have been unsubscribed.';
  }
}
---

<Layout title='Unsubscribe'>
  <main class='flex flex-col items-center py-4 px-2'>
    <div
      class='text-white bg-purple-700 rounded-lg p-4 w-full max-w-lg flex flex-col gap-4'
    >
      <h1 class='text-4xl font-bold mb-6 text-center'>Unsubscribe</h1>
      <p>
        {message}
      </p>

      <form method='POST' class='flex flex-col gap-4 w-full max-w-lg'>
        <button class='text-white bg-red-700 p-1 rounded-lg' type='submit'>
          Confirm
        </button>
      </form>
    </div>
  </main>
</Layout>
