---
import Header from './header.astro';
---

<section class='text-left'>
  <h1 class='text-5xl font-bold py-6'>FAQs</h1>
  <Header>What is a reverse split?</Header>
  <p>An action a company takes to increase their stock price.</p>
  <Header>How do I profit off of them?</Header>
  <p>
    By buying 1 share <span class='italic'>before the effective date</span> of the
    reverse split that will be <span class='font-bold underline'>
      rounding up
    </span> fractional shares
  </p>
  <Header>
    How do I know which reverse splits will be rounding up fractional shares?
  </Header>
  <p>Subscribe to the newsletter</p>
  <Header>What are the risks?</Header>
  <p>You can start with as little as $2-5</p>
  <p>
    Usually, companies that are performing reverse splits will have a stock
    price of below $1, so you'd be risking less than $1 per trade.
  </p>
</section>
